name: Test

on:
  push:
    branches:
      - main
      - beta

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Install Dependencies
        run: npm i -g release-please
      - name: Install Dependencies
        run: release-please release-pr --debug --dry-run --repo-url ${{ github.repository }} --token ${{ secrets.GITHUB_TOKEN }} --config-file release-please-config.json --manifest-file .release-please-manifest.json --target-branch ${{ github.ref_name }}